@page "/window"

<TelerikButton OnClick="@( _ => WindowVisible = !WindowVisible )">Toggle Window</TelerikButton>

<label><TelerikCheckBox @bind-Value="@WindowModal" /> Use modality</label>

<TelerikWindow @bind-Visible="@WindowVisible" Modal="@WindowModal">
    <WindowActions>
        <WindowAction Name="Minimize" />
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowTitle>
        Window Title
    </WindowTitle>
    <WindowContent>
        Window Content
    </WindowContent>
</TelerikWindow>

@code {
    bool WindowVisible { get; set; }

    bool WindowModal { get; set; }
}
