@page "/wizard"
 
<TelerikWizard Width="600px" Height="300px" @bind-Value="@WizardStep">
    <WizardSteps>
        <WizardStep Text="1" Label="Label 1">
            <Content>
                <p>Step 1 content</p>
            </Content>
        </WizardStep>
        <WizardStep Text="2" Label="Label 2">
            <Content>
                <p>Step 2 content</p>
            </Content>
        </WizardStep>
        <WizardStep Text="3" Label="Label 3">
            <Content>
                <p>Step 3 content</p>
            </Content>
        </WizardStep>
    </WizardSteps>
</TelerikWizard>

@code {
    int WizardStep = 0;
}
