@using Telerik.Blazor.Components.Editor

<TelerikEditor @bind-Value="@EditorValue"
               Tools="@EditorToolSets.All"
               Height="400px">
</TelerikEditor>

<h2>Raw Editor Value</h2>

<TelerikTextArea @bind-Value="@EditorValue"
                 Rows="20" />

@code {
    private string EditorValue { get; set; } = @"<p>foo</p><p>bar</p>";
}
