@page
@using RazorPagesApp.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@* <component type="typeof(Counter)" render-mode="ServerPrerendered" />

<component type="typeof(Calendar)" render-mode="ServerPrerendered" />

<component type="typeof(RclCalendar)" render-mode="ServerPrerendered" /> *@

<strong>Razor components:</strong>
<component type="typeof(RazorRootComponent)" render-mode="ServerPrerendered" />
